* {
  padding: 0;
  margin: 0;
  direction: ltr;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

input {
  all: unset;
}

a {
  text-decoration: none;
}

a:link {
  color: gray;
}

a:visited {
  color: grey;
}

a:hover {
  color: black;
}

.topnav {
  background-color: #fff;
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

li {
  margin: 0 15px 0 15px;
  list-style-type: none;
}

.logo {
  font-size: xx-large;
  color: blue;
  margin-left: 10rem;
  cursor: pointer;
}

.search {
  border-radius: 3px;
  background-color: #e1e9ee;
  padding: 0.25rem;
  font-size: smaller;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  color: #000;
}

.firstNavButton,
.secondNavButton {
  background-color: #fff;
  color: grey;
  text-align: right;
}

.secondNavButton {
  border-left: #d6cec2 solid 2px;
  height: inherit;
  padding-left: 2rem;
}

.premium {
  color: #915907;
  margin-right: 10rem;
  font-size: smaller;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70vh;
  flex: 1;
}

.sec {
  justify-items: center;
  margin-left: 300px;
}

.profile {
  width: 70%;
  height: 20rem;
  background-color: #d6cec2;
}

.dashboard {
  width: 70%;
  height: 20rem;
}

.about {
  width: 70%;
  height: 5rem;
  background-color: #d6cec2;
}

.activity {
  width: 70%;
  height: 20rem;
}

.experience {
  width: 70%;
  height: 20rem;
  background-color: #d6cec2;
}

.education {
  width: 70%;
  height: 20rem;
}

.certificates {
  width: 70%;
  height: 20rem;
  background-color: #d6cec2;
}

.skills {
  width: 70%;
  height: 20rem;
}

.accomplishments {
  width: 70%;
  height: 20rem;
  background-color: #d6cec2;
}

.intrests {
  width: 70%;
  height: 20rem;
}

.sideBar {
  margin-right: 12rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
}

.sided-first {
  width: 100%;
  height: 20rem;
  background-color: #d6cec2;
}

.sided-second {
  width: 100%;
  height: 20rem;
}

.sided-third {
  width: 100%;
  height: 20rem;
  background-color: #d6cec2;
}

.sided-forth {
  width: 100%;
  height: 20rem;
}

.sided-fifth {
  width: 100%;
  height: 20rem;
  background-color: #d6cec2;
}

.footer {
  width: 75%;
  height: 20rem;
  border-top: #d6cec2 solid 2px;
  margin-left: 200px;
}

@media (max-width: 992px) {
}

@media (max-width: 992px) {
} ;
