* {
  padding: 0;
  margin: 0;
  direction: ltr;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  background: rgba(68, 22, 235, 0.1);
  display: flex;
  flex-direction: column;
}

input {
  all: unset;
}

a {
  text-decoration: none;
}

a:link {
  color: gray;
}

a:visited {
  color: grey;
}

a:hover {
  color: black;
}

.topnav {
  background-color: #fff;
  height: 3.3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

li {
  margin: 0 15px 0 15px;
  list-style-type: none;
  text-align: center;
  font-size: small;
}

.logo {
  font-size: 2.3rem;
  color: #0a66c2;
  margin-left: 15rem;
  cursor: pointer;
}

.search {
  width: 17rem;
  border-radius: 3px;
  background-color: #e1e9ee;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: smaller;
  margin-right: 4rem;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  color: #000;
}

.firstNavButton,
.secondNavButton {
  background-color: #fff;
  color: grey;
  text-align: center;
}

.firstNavButton {
  margin-right: 1rem;
}

.secondNavButton {
  border-left: rgba(68, 22, 235, 0.1) solid 2px;
  height: inherit;
  padding-left: 2rem;
}

.premium {
  color: #915907;
  margin: 0rem 10rem 0rem 2rem;
  font-size: 0.8rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70vh;
  flex: 1;
}

.sec {
  justify-items: center;
  margin-left: 14rem;
  padding: 2rem 2rem;
  font-size: small;
}

.profile {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.dashboard {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.about {
  width: 75%;
  height: 10rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.aboutMe {
  padding-top: 1rem;
}

.aboutPart {
  display: flex;
  flex-direction: row;
}

.aboutEdit {
  margin-left: 38rem;
}

.activity {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.experience {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  border-bottom: 1px solid #d6cec2;
  border-radius: 0.5rem;
}

.education {
  width: 75%;
  height: 15rem;
  background-color: #fff;
  border-bottom: 1px solid #d6cec2;
  border-radius: 0.5rem;
}

.khajeh {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.khajehLogo {
  width: 3rem;
  height: 3rem;
}

.year {
  color: grey;
}

.certificates {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.skills {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.accomplishments {
  width: 75%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.intrests {
  width: 75%;
  height: 23rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.secGridContent {
  display: grid;
  grid-template-columns: 23rem 23rem;
  grid-template-rows: 5rem 5rem 5rem;
  margin-top: 2rem;
}

.secContent {
  display: flex;
  flex-direction: column;
}

.interestLi {
  display: flex;
  flex-direction: row;
}

.aboutLogo {
  width: 3rem;
  height: 3rem;
}

.sideBar {
  margin-right: 14rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vh;
}

.sideLogo {
  font-size: 1rem;
}

.side {
  padding: 1.5rem 1rem;
  font-size: small;
}

.sided-first {
  width: 100%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.sided-second {
  width: 100%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.sided-third {
  width: 100%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.sided-fourth {
  width: 100%;
  height: 20rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.sided-fifth {
  width: 100%;
  height: 20rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.footer {
  width: 70%;
  margin: 2rem 14rem;
  padding-top: 1.5rem;
  height: 25vh;
  border-top: 0.008rem solid gray;
  font-size: small;
}

.mercado-match {
  color: #0a66c2;
}

.footerWithoutLogo {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.footerAdd {
  display: flex;
  flex-direction: column;
  width: 16rem;
  justify-content: left;
  list-style-type: none;
  color: gray;
}

.icon {
  display: flex;
}

.footerIcon {
  color: gray;
}

.footerLinks {
  padding-left: 0rem;
  display: grid;
  grid-template-columns: 12rem 12rem 12rem;
  grid-template-rows: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
  list-style-type: none;
  align-items: baseline;
}

.pageLang {
  color: grey;
  font-size: small;
}

#selectLanguage {
  color: gray;
  all: unset;
  border: gray solid 0.08rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.corporation {
  margin: 1.5rem 0rem 0rem 0rem;
  font-size: small;
  color: grey;
}

/*---Media Queries --*/

@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
